Did you like this post? Share it: 
<div class="sharer">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.author_twitter }}&related={{ site.author_twitter }}" rel="nofollow" target="_blank" title="Share on Twitter">
      <img alt="Twitter" src="/assets/share_twitter.png"/>
    </a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
      <img alt="Facebook" src="/assets/share_facebook.png" />
    </a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
      <img alt="LinkedIn" src="/assets/share_linkedin.png" />
    </a>
</div>
<br />
Looking for the comments section? just mention me (and  this post url) at any of the social sites above and I promise to respond.
