<div class="sidebar text-center">
    <img src="/images/assets/headshot150x150.png" class="img-circle" />
    <div class="sidebar-item">
        <h2> Itay Shakury </h2>
        <h4> Technology enthusiast, Entrepreneur wannabe, Microsoft employee. </h4>
    </div>
    <div class="sidebar-item text-left">
        <ul class="list-unstyled author-social">
            <li>
                <a href="https://twitter.com/ItayAsaService">
                    <img src="/images/assets/twitter-3-24.png" alt="twitter" /> @itayasaservice
                </a>
            </li>
            <li>
                <a href="https://il.linkedin.com/in/itaysk">
                    <img src="/images/assets/linkedin-3-24.png" alt="linkedin" /> itaysk
                </a>
            </li>
            <li>
                <a href="https://github.com/itaysk">
                    <img src="/images/assets/github-8-24.png" alt="github" /> itaysk
                </a>
            </li>
        </ul>
    </div>
</div>